html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    background-color: #2F3035;
    background-image: url(Pozadina.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header{
    height: 118px;
    text-align: center;
    padding-bottom: 30px;
}

.container{
    min-height: 100vh;
}

.dioA{
    padding-top: 10px;;
}