html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    background-color: #2F3035;
    background-image: url(Pozadina.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header{
    height: 118px;
    text-align: center;
    padding-bottom: 30px;
}

.container{
    min-height: 100vh;
}

.dioA{
    padding-top: 10px;;
}

.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.3rem;
    background: #fff;
    text-align: center;
}

.meal-result{
    margin-top: 4rem;
}

nav{
    background-color: rgba(17, 17, 17, 0.338);
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 1.3rem;
    display: flex;
}


nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    color: white;
}