html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    background-color: #2F3035;
    background-image: url(Pozadina.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header{
    height: 118px;
    text-align: center;
    padding-bottom: 30px;
}

.container{
    min-height: 100vh;
}

.dioA{
    padding-top: 10px;;
}

.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.3rem;
    background: #fff;
    text-align: center;
}

.meal-result{
    margin-top: 4rem;
}

nav{
    background-color: rgba(17, 17, 17, 0.338);
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 1.3rem;
    display: flex;
}


nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    color: white;
}

.meal-item{
    background-color: rgba(17, 17, 17, 0.338);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem;
}

.meal-img img{
    width: 100%;
    display: block;
}

.meal-name{
    padding: 1.5rem 0.5rem;
}

.meal-name h3{
    font-size: 1.7rem;
}

@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}

footer {
    background-color: rgba(17, 17, 17, 0.338);
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    color: black;
    font-size: 14px;
    text-align: center;
}

.maps {
    padding-bottom: 60px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


